$bgColor: #FFFFFF;
$titleColor: #4E5150;
$subtitleColor: #333333;
$inputTextColor: #828282;
$inputLabelColor: #4F4F4F;
$buttonColor: #F2994A;
$buttonHover: #ffffff;
$itemsBgColor: #F2F2F2;
$lineColor: #BDBDBD;
%inputFont {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: $inputTextColor;
}
%titleFont {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: $titleColor;
}
%subtitleFont {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: $subtitleColor;
}
%inputLabelFont {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
}
%flex-row {
    display: flex;
    flex-direction: row;
}
%flex-column {
    display: flex;
    flex-direction: column;
}
%spanPrice {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}
%responsiveTitleFont {
    font-size: 24px;
    line-height: 29px;
}
@mixin title_font_mixin() {
    font-size: 24px;
    line-height: 29px;
}
@mixin item_title_mixin() {
    font-size: 12px;
    line-height: 15px;
}
@mixin price_font_mixin() {
    font-size: 14px;
    line-height: 17px;
}
@mixin old_price_mixin() {
    font-size: 10px;
    line-height: 12px;
}
@mixin legend_mixin() {
    font-size: 14px;
    line-height: 17px;  
}
@mixin input_mixin() {
    font-size: 12px;
    line-height: 15px;
}

@function onhover() {
    @return $lineColor;
}