h4, .price:nth-child(2) {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #828282;
}

h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #4E5150;
}

legend {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}

.input-wrapper label, .price:nth-child(3) {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
}

.different, .input-wrapper.checkbox, .button-wrapper, .item-wrapper, .shipping-wrapper, .total-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.input-wrapper, .rightside, .add-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.total-price, .shipping-price, footer p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

body {
  background-color: #FFFFFF;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
}

h4 {
  color: #4E5150;
}

.container {
  overflow: hidden;
  max-width: 1000px;
  margin: 0 auto;
}

header h1 {
  margin: 64px 0 50px 0;
}

.leftside {
  display: inline-block;
}

.leftside legend {
  margin-bottom: 14px;
}

.leftside input {
  padding: 18px 0px 18px 50px;
  border: 1px solid #828282;
  border-radius: 12px;
  outline: none;
}

.input-wrapper {
  gap: 5px;
  margin-bottom: 50px;
}

.input-wrapper label {
  color: #4F4F4F;
}

.icon {
  position: absolute;
  margin-top: 35px;
  margin-left: 10px;
  color: #828282;
}

.input-wrapper select {
  padding: 17px 0px 18px 50px;
  border-radius: 12px;
  outline: none;
}

.different {
  gap: 31px;
}

.different .input-wrapper {
  margin-bottom: 0;
  width: 217px;
}

.different .input-wrapper i {
  position: absolute;
  margin-top: 35px;
  margin-left: 10px;
  color: #828282;
}

.input-wrapper.checkbox {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

input[type=checkbox] {
  -webkit-appearance: checkbox;
}

.button-wrapper {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.button-wrapper button {
  background-color: #F2994A;
  padding: 17px 45px;
  border-radius: 12px;
  border: 1px solid transparent;
  color: #FFFFFF;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.button-wrapper button:hover {
  background-color: #ffffff;
  border: 1px solid #F2994A;
  color: #F2994A;
}

.rightside {
  padding: 33px 26px 14px 29px;
  background-color: #F2F2F2;
  border-radius: 12px;
  max-width: 400px;
  float: right;
  gap: 95px;
}

.item-wrapper {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 20px;
}

.item-wrapper:nth-child(1) {
  margin-bottom: 31px;
}

.img-wrapper {
  max-width: 175px;
  max-height: 135px;
}

.item {
  max-width: 100%;
  max-height: 100%;
  border-radius: 16px;
}

.add-wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

input[type=number] {
  width: 100%;
  padding: 15px 0;
  text-align: center;
  border-radius: 12px;
  border: 1px solid #828282;
  outline: none;
  background-color: #F2F2F2;
}

.prices-wrapper h4 {
  margin-bottom: 8px;
}

.price:nth-child(2) {
  color: #F2994A;
}

.line {
  border: 1px solid #BDBDBD;
}

.line:nth-child(2) {
  margin-bottom: 15px;
}

.shipping-wrapper, .total-wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
}

footer p {
  margin-top: 160px;
  margin-bottom: 24px;
  text-align: center;
  color: #BDBDBD;
}

@media only screen and (max-width: 1050px) {
  .container {
    width: 100%;
    padding: 0 50px;
  }
  .main-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .rightside {
    float: none;
    margin: 0;
    margin-bottom: 39px;
    width: 100%;
    max-width: none;
  }
  .leftside {
    width: 100%;
  }
}

@media only screen and (max-width: 650px) {
  .container {
    padding: 0 10px;
  }
  h1 {
    font-size: 24px;
    line-height: 29px;
  }
  h4 {
    font-size: 12px;
    line-height: 15px;
  }
  .rightside {
    padding: 20px 10px;
    width: 100%;
  }
  .img-wrapper {
    min-width: 100px;
  }
  .price:nth-child(2) {
    font-size: 14px;
    line-height: 17px;
  }
  .price:nth-child(3) {
    font-size: 10px;
    line-height: 12px;
  }
  legend {
    font-size: 14px;
    line-height: 17px;
  }
  input {
    font-size: 12px;
    line-height: 15px;
  }
  .different {
    gap: 5px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .different .input-wrapper {
    width: 100%;
  }
  fieldset {
    min-width: 100%;
  }
  .different select {
    width: 100%;
    padding-left: 30px;
  }
  .different input {
    width: 100%;
    padding-left: 40px;
  }
}
/*# sourceMappingURL=style.css.map */